:root {
  --primary-color: #023047;
  --secondery-color: #fb8500;
  --accent1-color: #219ebc;
  --accent2-color: #ffb703;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

img {
  width: 500px;
  height: auto;
}