:root {
  --primary-color: #023047;
  --secondery-color: #ffb703;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 3rem;
}

img {
  width: 500px;
  height: auto;
}

header {
  border: 1px solid black;
  background-color: var(--primary-color);
  color: var(--secondery-color);
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: var(--primary-color);
  color: var(--secondery-color)
}

#menu::before {
  content: "=";
}

nav {
	background-color: var(--primary-color);
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--secondery-color);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
	color: var(--accent2-color);
	background-color: var(--primary-color);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

section {
  border: 1px solid black;
  background-color: var(--primary-color);
  color: var(--secondery-color);
}

footer {
  border: 1px solid black;
  background-color: var(--primary-color);
  color: var(--secondery-color);
}